body {
	padding-top: 25px;
	font-family: 'Raleway', sans-serif;
}

html {
	height: 100% ;
}

h1 {
	font-weight: 700;
	font-size: 40px;
}

h2 {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	font-size: 60px;
	padding: 50px 0;
}

h3 {
	font-family: 'Roboto Condensed', sans-serif;
	padding-bottom: 5px;
	color: #ed4146;
	font-size: 40px;
	text-align: center;
}

h4 {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

ul {
	font-family: 'Bitter', serif;
	font-size: 15px;
}

p {
	font-family: 'Bitter', serif;
	font-size: 18px;
}

a {
	color: #ed4146;
}

hr {
	border: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

img .post-image {
	max-width: 600px;
	height: 400px;
}

form * {
	display: block;
	text-align: left;
}

form label {
	margin: 0;
}

form input[type="text"],textarea {
	width: 100%;
}

form input, textarea {
	margin-bottom: 10px;

}
form input[type="submit"] {
	padding: 3px 6px 3px 6px;
}

select {
		display: block;
		margin: 0 auto;
		font-size: 20px;
		width: 200px;
}

iframe {
	margin-left: 100px;
}

.page-content {
	padding-top: 125px;
}

.side-content {
		position: fixed;
}

.news {
	margin-bottom: 75px;
}

.news-title {
	font-family: 'Roboto Condensed', sans-serif;
	padding-bottom: 5px;
	color: #ed4146;
	font-size: 32px;
	padding: 0px;
}

.nav a:hover {
	color: #ffbbbb !important;
}

.news-title a:hover {
	color: #d2141a;
	text-decoration: none;
}

.news-date {
	color: #888888;
	margin-bottom: 3px;
}

.news-content p{
	font-weight: normal;
	font-size: 16px;
}

.news {
	margin-bottom: 75px;
	text-align: left;
}

.event {
	text-align: left;
}

.event-title {
	font-family: 'Roboto Condensed', sans-serif;
	padding-bottom: 5px;
	color: #ed4146;
	font-size: 34px;
	padding: 0px;
}

.event-title-sub {
	font-family: 'Roboto Condensed', sans-serif;
	padding-bottom: 5px;
	color: #ed4146;
	font-size: 24px;
	padding: 0px;
}

.event-title-sub a:hover {
	color: #d2141a;
	text-decoration: none;
}

.event-date {
	margin-bottom: 5px;
	font-size: 16px;
}

.event-location {
	margin-bottom: 5px;
	font-size: 16px;
}

.event-details p{
	font-weight: normal;
	font-size: 16px;
}

.section {
		padding-top: 10px;
}

.left-h2 {
	text-align: left;
	padding-left: 15px;
	padding-bottom: 10px;
}

.center {
		width: 800px;
		margin:0 auto;
		text-align: center;
}

.center-list {
    width:250px;
    margin:0 auto;
    text-align:left;
}

.image-description {
	text-align: center;
}

.logo {
	padding-top: 10px;
	padding-bottom: 50px;
}

.medium-image {
	max-width: 640px;
	height: 480px;
}

 .row .post {
	 padding-bottom: 50px;
 }
 .post-description {
	 text-align: justify;
 }

 .time-stamp {
	 padding-top: 10px;
	 text-align: left;
 }

 .upcoming_events {
	 width: 500px;
 }

 .sponsors {
	 padding-top: 50px;
 }

 @media (min-width: 979px) {
               ul.nav li.dropdown:hover > ul.dropdown-menu {
                     display: block;
                     margin-top:0px;
 }
 }

 .calendar {
	 border-width: 0;
	 width: 200;
	 height:200;
	 frameborder: 0;
	 scrolling: "no";
 }

 .form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

.form-error {
	color: red;
	font-size: 14px;
	text-align: left;
}


#content {
	padding-top: 0px;
	text-align: center;
}

.admin-command {
	font-size: 22px;
	color: #0000cc;
	text-decoration: none;
}
.admin-command:hover {
	font-size: 22px;
	color: #00004d;
	text-decoration: none;
}
