footer {
    display: flex;
    padding: 10px;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    background-color: rgb(225, 0, 0);
    color: white;
}
.footer-links {
    display: flex;
    margin-left: auto;
}
.footer-link {
}
.footer-link a {
    color: white;
}