form * {
	display: block;
	text-align: left;
}

form label {
	margin: 0;
}

form input[type="text"],input[type="email"],textarea {
	width: 100%;
}
form input, textarea {
	margin-bottom: 10px;
}
select {
	margin-bottom: 10px;
}
form input[type="submit"] {
	padding: 3px 6px 3px 6px;
}