.slideshow {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 20px;
}
.slideshow-content {
	overflow: hidden;
	height: 400px;
	position: relative;
}
.slideshow-slide {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
.slideshow-slide-img {
	position: absolute;
	top: -50px;
	left: 0;
}
.slideshow-slide-content {
	position: absolute;
	top: 20px;
	left: 50px;
	height: calc(400px - 40px);
	width: 450px;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 8px;
	color: black;
	overflow: hidden;
	transition: 0.25s ease;
}
.slideshow-slide-content-title {
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 5px;
}
.slideshow-slide-content-body {
	font-size: 16px;
}
.slideshow-slide-content-read-more {
	position: absolute;
	bottom: 8px;
	right: 8px;
	font-size: 18px;
}
.slideshow-nav-arrow {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 8px;
	font-size: 32px;
	color: white;
	margin-top: -32px;
	transition: 0.4s ease;
	font-family: 'Arial';
}
.slideshow-nav-arrow:hover {
	background-color: rgba(0, 0, 0, 0.5);
}
.slideshow-nav-arrow-right {
	right: 0;
}
.slideshow-nav {
	padding: 2px;
	margin: auto;
	width: 100%;
	text-align: center;
}
.slideshow-nav-button {
	cursor: pointer;
	height: 12px;
	width: 12px;
	padding: 2px;
	margin: 0 2px 0 2px;
	background-color: #888;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.25s ease-out;
}
.slideshow-nav-button:hover {
	background-color: #444;
}
.slideshow-nav-button-selected {
	background-color: #444;
}