{% extends "base.html" %}

{% block content %}
<div class="container page-content">
  <div class="row">
    <div class="container">
      <div class="row section">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="row section">
            <h2>AADE-TAMUK</h2>
            <hr>
          </div>
        </div>
      </div>
      <!-- ./row -->
      <div class="row section center">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <h3> About Us</h3>
          <p> The American Association of Drilling Engineers
            at Texas A&M University-Kingsville
            was founded in September 2016
            by Charoenpong Songdechakraiwut. </br>
            The organization is operating under
            the umbrella of the Central Texas Chapter.
          </p>
        </div>
      </div>
      <!-- /.row -->
      <div class="row section">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          {% load staticfiles %}
          <img class = "medium-image" src="{% static 'site_media\images\aade-tamuk_about_us1.jpg' %}">
        </div>
      </div>
      <!-- /.row -->
      <div class="row section center">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
        <h3> Mission </h3>
          <p> We strive for excellence by offering</p>
            <ul>
              <li> A forum where our members can share their knowledge in drilling technology.</li>
              <li> A channel to further their their professional careersin the O&G industry. </li>
            </ul>
          </p>
        </div>
      </div>
      <!-- /.row -->
      <div class="row section">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <img class = "medium-image" src="{% static 'site_media\images\aade-tamuk_about_us2.jpg' %}">
        </div>
      </div>
      <!-- /.row -->
      <div class="row section center">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
        <h3> Vision </h3>
          <p class="center"> To be an organization that benefits:
            <ul class = center-list>
              <li>Texas A&M University-Kingsville</li>
              <li>The drilling industry</li>
              <li>The future of our members</li>
            </ul>
          </p>
        </div>
      </div>
      <!-- /.row -->
      <div class="row section center ">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <img class = "medium-image" src="{% static 'site_media\images\aade-tamuk_about_us3.jpg' %}">
        </div>
      </div>
      <!-- /.row -->
      <div class="row section center">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
        <h3> Values </h3>
          <p> To promote professionalism and respect
            within the drilling industry
            and the engineering community
          </p>
        </div>
      </div>
      <!-- /.row -->
      <div class="row section">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <img src="{% static 'site_media\images\aade-tamuk_about_us4.jpg' %}">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
