{% extends "base_templates/base.html" %}

{% block content %}
  <div class="container page-content">
  	<div class="row">
		    <div class="container">
          <div class="row section">
				  <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <h1>AADE Central Texas Chapter</h1>
            <hr>
            </br>
            <p> American Association of Drilling Engineers at Texas A&M University-Kingsville chapter is sponsored by </br>
              the AADE Central Texas National Chapter.</br></br>
              AADE-TAMUK suggests that all students register for AADE Central Texas National Chapter to get your benefits in joining the national chapter activities, news and updates.</br>
              Student registration is FREE for students!</br></br>
              Please follow the link below:
            </p>
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Register Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
