{% extends "base.html" %}

{% block content %}
  <div class="container page-content">
  	<div class="row">
		    <div class="container">
          <div class="row section">
				  <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <div class="row section center">
              <h2>Admin Login</h2>
              <form action="{% url 'admin_login' %}" method="post">
                {% csrf_token %}
                <label>Password</label>
                <input type="password" name="password" autofocus />
                <input type="submit" value="Login">
              </form>
              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                  <div class="form-error">{{error}}</div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
