<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>AADE TAMUK</title>
	<link rel="stylesheet" type="text/css" href=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
	<link rel="shortcut icon" href="{% static 'site_media\images\flavicon.png' %}" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'site_media\css\app.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'site_media\css\nav-bar.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'site_media\css\footer.css' %}" />
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
	{% block css %}
	{% endblock %}
	<script src="{% static 'site_media/js/jquery.js' %}" type="text/javascript"></script>
	{% block javascript %}
	{% endblock %}
</head>
<body>
	{% include "navbar.html" %}
	{% block content %}
	{% endblock %}
	{% include "footer.html" %}
</body>
</html>
