<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>AADE TAMUK</title>
	<link rel="stylesheet" type="text/css" href=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'site_media\css\app.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'site_media\css\nav-bar.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'site_media\css\footer.css' %}" />
	<link href="https://fonts.googleapis.com/css?family=Bitter|Hind" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
</head>
<body>
	<div class="container">
		<nav class = "navbar navbar-default navbar-fixed-top">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#appnav" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">AADE</a>
			</div>
			<div class="collapse navbar-collapse" id="appnav">
				<ul class="nav navbar-nav ">
					<li class="dropdown">
	          <a tabindex="-1" href="#">Organization</a>
	          <ul class="dropdown-menu">
	            <li class="dropdown-submenu">
	              <a href="#">About Us</a>
	              <ul class="dropdown-menu">
	                <li><a href="#">AADE TAMUK</a></li>
	              	<li><a href="#">AADE CENTRAL TEXAS CHAPTER</a></li>
	              </ul>
	            </li>
							<li class="dropdown-submenu">
	              <a href="#">Board</a>
	              <ul class="dropdown-menu">
	                <li><a href="#">2016-2017</a></li>
	              </ul>
	            </li>
	            <li><a href="#">Calendar</a></li>
							<li class="dropdown-submenu">
								<a href="#">Learn More</a>
								<ul class="dropdown-menu">
									<li><a href="#">Texas A&M University - Kingsville</a></li>
									<li><a href="#">American Association Of Drilling Engineers</a></li>
								</ul>
							</li>
						</ul>
	        </li>
					<li class="dropdown">
	          <a tabindex="-1" href="#">Gallery</a>
	          <ul class="dropdown-menu">
							<li><a href="#">General Meetings</a></li>
							<li><a href="#">Field Trips</a></li>
							<li><a href="#">Training</a></li>
							<li><a href="#">Social</a></li>
						</ul>
					<li> <a href="#">Donations</a></li>
					<li> <a href="#">Partners</a></li>
					<li> <a href="#">Contact Us</a></li>
					<li> <a href="#">Store</a></li>
					<li> <a href="#">2017-2018</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-user-plus"></i>Join Us</a></li>
					<li><a href="#"><i class="fa fa-user"></i> Login</a></li>
				</ul>
			</div>
		</nav>
	</div>
{% block content %}
{% endblock %}
<footer>
  <div class="container" >
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <h6 class="heading7">Contact Us</h6>
        <ul class="footer-ul">
          <li><p class="email">Email: </h6><a href="#"> email@tamuk.edu </a></li>
          <li><p class="web">Web: </h6><a href="#"> Contact Us </a></li>
        </ul>
        <ul class="footer-ul">
          <p> AADE </p>
          <p>Texas A&M University Kingsville</p>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- / .footer -->
<div class="copyright">
    <div class="container">
      <div class="col-md-6">
        <p>© 2017 - AADE TAMUK</p>
      </div>
      <div class="col-md-6">
        <ul class="bottom_footer_ul">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Leadership</a></li>
          <li><a href="#">Our Partners</a></li>
          <li><a href="#">Site Map</a></li>
        </ul>
      </div>
    </div>
  </div>
<!-- /.copyright -->
<script src="http://code.jquery.com/jquery-3.1.1.js"></script>
</body>
</html>
