{% extends "base_templates/base.html" %}

{% block content %}
  <div class="container page-content">
  	<div class="row">
		    <div class="container">
          <div class="row section">
				  <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <div class="row section center">
              <h2>Events</h2>
              <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=negk19uohc7g8s6a5volpqiao0%40group.calendar.google.com&amp;color=%23853104&amp;ctz=America%2FWinnipeg" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
