{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="container">
			<div class="row section center">
				<div class="col-lg-1"></div>
				<div class="col-lg-10">
					<div class="row">
						<h2>Contact Us</h2>
						<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
							<div class="row">
								<label class="h3"for="name">Your name:</label><br />
								<input id="name" class="input" name="name" type="text" value="" size="30" /><br />
							</div>
							<div class="row">
								<label class="h3"for="email">Your email:</label><br />
								<input id="email" class="input" name="email" type="text" value="" size="30" /><br />
							</div>
							<div class="row">
								<label class="h3" for="message">Your message:</label><br />
								<textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
							</div>
							<input id="submit_button" type="submit" value="Send email" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- row end -->
</div>
{% endblock %}
