{% extends "base_templates/base.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="container">
			<div class="row section">
				<div class="col-lg-1"></div>
				<div class="col-lg-10">
					<div class="row section">
						<h2 class="page-title">Contact Us</h2>
						<p>Questions about the organization? Interested in becoming a partner? Send us a message. Unless we are busy, we will likely get back to you within the day.</p>
						<p>Alternatively, you can contact us at <b>(512) 412-2580</b>.</p>
						<form action="{% url 'contact_us' %}" method="post">
							{% csrf_token %}
							<label>Name</label>
							<input type="text" name="name" autofocus style="width:200px;"/>
							<label>Email</label>
							<input type="email" name="email" style="width:300px;"/>
							<label>Message</label>
							<textarea rows="8" name="message"></textarea>
							<input type="submit" value="Submit">
						</form>
						{% if form.non_field_errors %}
							{% for error in form.non_field_errors %}
								<div class="form-error">{{error}}</div>
							{% endfor %}
						{% endif %}
						{% if submitted %}
							<p>Thank you for contacting AADE-TAMUK. We will respond to your message as soon as possible.</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- row end -->
</div>
{% endblock %}
