{% extends "base_templates/base.html" %}

{% block content %}
  <div class="container page-content">
  	<div class="row">
		    <div class="container">
          <div class="row section">
				  <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <div class="row section center">
              <h1>Donations</h1>
              <hr>
              </br>
              <p class = "centered-paragraph"> Interested in supporting AADE? </br>
                Consider donating. </br>
                Your donations are valuable to us.
              </p>
              <p> Paypal Link </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
