{% extends "base_templates/base.html" %}

{% block content %}
  <div class="container page-content">
  	<div class="row">
		    <div class="container">
          <div class="row section">
				  <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <div class="row section center">
              <h2 class="page-title">Donate</h2>
              </br>
              <p class = "centered-paragraph"> Interested in supporting AADE? Consider donating. </br>
                Your donations are valuable to us.
              </p>
            </div>
          </div>
          <div class="col-lg-1"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
