{% extends "base.html" %}

{% block content %}
  <div class="container page-content">
  	<div class="row">
		    <div class="container">
          <div class="row section">
				  <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <div class="row section center">
              <h2>Events</h2>
              {% for event in events %}
                <div class="event" name="{{event.pk}}">
                  <div class="event-title">{{event.title}}</div>
                  <div class="event-date"><b>Date: </b>{{event.date|date:"M d Y @ P"}}</div>
                  <div class="event-location"><b>Location: </b>{{event.location}}</div>
                  <div class="event-details">{{event.details|linebreaks}}</div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
