{% extends "base_templates/base.html" %}
{% load static %}

{% block content %}
  <div class="slideshow">
    <div class="slideshow-content">
      {% for slide in slides %}
      <div class="slideshow-slide" data-number="{{forloop.counter0}}">
        <img class="slideshow-slide-img" src="{{slide.img}}"/>
        <div class="slideshow-slide-content">
          <div class="slideshow-slide-content-title">
            {{slide.title}}
          </div>
          <div class="slideshow-slide-content-body">
            {{slide.body}}
          </div>
          <div class="slideshow-slide-content-read-more">
            <a href="{{slide.url}}"><button>Read more</button></a>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="slideshow-nav-arrow slideshow-nav-arrow-left">&#10094;</div>
      <div class="slideshow-nav-arrow slideshow-nav-arrow-right">&#10095;</div>
    </div>
    <div class="slideshow-nav">
      {% for slide in slides %}
        <div class="slideshow-nav-button" data-number="{{forloop.counter0}}"></div>
      {% endfor %}
    </div>
  </div>
  <div class="container page-content">
  	<div class="row">
	    <div class="container">
        <div class="row section">
				  <div class="col-lg-3">
            <a class="twitter-timeline" data-width="250" data-link-color="#E81C4F" href="https://twitter.com/aadetamuk">Tweets by aadetamuk</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          <div class="col-lg-7">
            <div class="row section">
              {% for newspost in newsposts %}
              	<div class="news">
	              	<div class="news-title"><a href="{% url 'newspost' newspost.pk %}">{{newspost.title}}</a></div>
	              	<div class="news-date">{{newspost.date|date:"M d Y"}}</div>
	              	<div class="news-content">{{newspost.content|linebreaks}}</div>
	              	{% if newspost.read_more %}<p class=""><a href="{% url 'newspost' newspost.pk %}">Read more...</a></p>{% endif %}
              	</div>
              {% endfor %}
            </div>
          </div>
          <div class="col-lg-2">
            <div id="calendar">
              <iframe class="iframe-with-margin" src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showTz=0&amp;height=200&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=negk19uohc7g8s6a5volpqiao0%40group.calendar.google.com&amp;color=%23853104&amp;ctz=America%2FWinnipeg" style="border-width:0" width="200" height="200" frameborder="0" scrolling="no"></iframe>
            </div>
            <div id="upcoming-events">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-6">
          <a href="http://oriondrilling.com/"><img class="logo" src="{% static 'site_media\images\orion.jpg' %}" /></a>
        </div>
        <div class="col-lg-6">
          <a href="https://www.newpark.com/"><img class="logo" src="{% static 'site_media\images\newpark.jpg' %}" /></a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <a href="http://www.gyrodata.com/"><img class="logo" src="{% static 'site_media\images\gyrodata.png' %}" /></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'site_media\css\slideshow.css' %}" />
{% endblock %}

{% block javascript %}
  <script src="{% static 'site_media/js/slideshow.js' %}" type="text/javascript"></script>
{% endblock %}
