{% load static %}
<nav>
    <div class="nav-link-container nav-link-container-left">
        <div class="nav-link"><a href="{% url 'news' %}">News</a></div>
        <div class="nav-separator"></div>
        <div class="nav-link"><a href="{% url 'calendar' %}">Events</a></div>
        <div class="nav-separator"></div>
        <div class="nav-link"><a href="{% url 'join_us' %}">Join us</a></div>
    </div>
    <div class="nav-logo"><a href="{% url 'home' %}"><img src="{% static 'site_media\images\logo_large.png' %}" /></a></div>
    <div class="nav-link-container">
        <div class="nav-link"><a href="{% url 'about_us' %}">About us</a></div>
        <div class="nav-separator"></div>
        <div class="nav-link"><a href="{% url 'meetings' %}">Gallery</a></div>
        <div class="nav-separator"></div>
        <div class="nav-link"><a href="{% url 'donate' %}">Donate</a></div>
    </div>
</nav>
