{% extends "base.html" %}

{% block content %}
  <div class="container page-content">
  	<div class="row">
		    <div class="container">
          <div class="row section">
				  <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <div class="row section center">
              <h2 id="selected" data-selected="{{selected}}">News</h2>
              {% if user.is_authenticated %}<a style="font-size:22px;" class="admin-command" href="{% url 'create_newspost' %}"><button>New Newspost</button></a>{% endif %}
              {% for newspost in newsposts %}
                <div class="news" name="{{newspost.pk}}">
                  <div class="news-title">{{newspost.title}}</div>
                  {% if user.is_authenticated %}<a href="{% url 'delete_newspost' newspost.pk %}" class="admin-command"><button>Edit</button></a>{% endif %}
                  {% if user.is_authenticated %}<a href="{% url 'delete_newspost' newspost.pk %}" class="admin-command"><button class="delete">Delete</button></a>{% endif %}
                  <div class="news-date">{{newspost.date|date:"M d Y"}}</div>
                  <div class="news-content">{{newspost.content|linebreaks}}</div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}