{% extends "base.html" %}

{% block content %}
  <div class="container page-content">
  	<div class="row">
		    <div class="container">
          <div class="row section">
				  <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <div class="row section center">
              <h2 id="selected" data-selected="{{selected}}">News</h2>
              {% for newspost in newsposts %}
                <div class="news" name="{{newspost.pk}}">
                  {% if newspost.img %}<img class="news-image" src="{{newspost.img}}"/>{% endif %}
                  <div class="news-title">{{newspost.title}}</div>
                  <div class="news-date">{{newspost.date|date:"M d Y"}}</div>
                  <div class="news-content">{{newspost.content|linebreaks}}</div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}