<footer>
    <div class="footer-info">American Association of Drilling Engineers at Texas A&M University-Kingsville (2017)</div>
    <div class="footer-links">
        <div class="footer-link"><a href="{% url 'home' %}">Home</a>&nbsp;|&nbsp;</div>
        <div class="footer-link"><a href="{% url 'about_us' %}">About Us</a>&nbsp;|&nbsp;</div>
        <div class="footer-link"><a href="{% url 'contact_us' %}">Contact Us</a>&nbsp;|&nbsp;</div>
        <div class="footer-link"><a href="{% url 'partners' %}">Partners</a></div>
    </div>
</footer>